* {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 4px;
	/* remove scrollbar space */
	background: transparent;
	/* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */

::-webkit-scrollbar-thumb {
	background-color: rgba(144, 144, 186, 0.7);

}

body {
	font-family: 'roboto';
	font-weight: 100;
}

input {
	font-family: 'roboto';
	font-weight: 100;
}

label {
	font-weight: 400;
	font-size: 1.4rem;
}

ul {
	padding: 0;
	list-style-type: none;
}

#user-profile {

	width: 50%;
	box-shadow: 0px 0px 5px rgba( 20, 20, 20, 0.713);
	display: none;
	background-color: #274aa9;

	padding: 3rem;

}


#user-profile form {
	display: flex;
	width: 90%;
	margin: 0 auto;
	flex-direction: column;
}

#user-profile form input,
#user-profile form textarea {
	border: none;
	border-radius: 2px;
	height: 2rem;
	font-family: 'roboto';
	font-weight: 100;
	text-align: center;
	font-size: 1.3rem;
	margin-top: 0.6rem;
	opacity: 0.9;
	margin-bottom: 0.6rem;
	transition: 0.2s;
}

#user-profile form textarea {
	text-align: left;
}

#user-profile form input:focus,
#user-profile form textarea:focus {
	transform: scale(1.05);
	opacity: 1;
}

#myInfo {

	width: 60%;

	display: flex;

	background-attachment: scroll;
	background-color: rgba( 20, 20, 20, 0.294 );1 )
	justify-content: flex-start;

}

#myInfo div {
	width: 90%;


	display: flex;
	flex-direction: column;
}

#user-profile #name {
	display: none;
}

#user-container {

	display: flex;
	justify-content: flex-start;
	background-color: black;
	flex-direction: row;
	width: 50vw;
	background-image: url(https://images.unsplash.com/photo-1497215842964-222b430dc094?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=48fe9f87e4a3344a46e80ddf5c3bdfa6&auto=format&fit=crop&w=1350&q=80);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
}

#profile-username {
	font-weight: 100;
	font-size: 3rem;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid rgba( 33, 33, 33, 0.325);
}

#myInfo #profile-bio {
	font-size: 1rem;
	border: none;
	height: 3rem;
	max-height: 3rem;
	text-overflow: clip;
	margin: 0;
	overflow-y: scroll;


}

#myInfo p {
	border-bottom: 1px solid rgba( 33, 33, 33, 0.325);

}

#user-container p {
	margin-bottom: 1rem;
}

#user-container div:last-of-type p {
	border: none;
}


#profile-city {
	font-size: 1.3rem;
}

#profile-image {
	background-position: center;
	background-size: cover;

	max-width: 12rem;
	height: 20rem;
	max-height: 25rem;
	border-radius: 10px;
}

#contacts-container {
	height: 96vh;

	padding-top: 4vh;
	display: flex;
	justify-content: center;
	flex-direction: row;
	background-color: #ffffff;
}

#contact-list {
	background-color: #2d2d2d;

	width: 20vw;

	height: 96vh;
}

#contact-list ul li {
	width: 100%;
	display: flex;
	border-bottom: 1px solid rgba( 25, 25, 25, 0.841);
	margin: 0 auto;
	flex-direction: row;
	justify-content: space-between;
	text-indent: 1rem;
	font-size: 1.3rem;
	background-color: rgba( 219, 219, 219, 0.541);
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	transition: 0.3s;
	background-color: rgba( 45, 45, 45, 0.875);
}

.fa-comments {
	text-indent: 0.2rem;
}

#contact-list ul li a {
	text-decoration: none;
	color: #e0e0e0;
}

#contact-list ul li:hover {
	cursor: pointer;
	background-color: rgba( 75, 75, 75, 0.875);

}

#contact-list ul {
	max-height: 80%;
	scroll-behavior: smooth;
	overflow-y: scroll;
}

#contact-list ul li:last-of-type {
	border: none;
}

#contact-list-image {
	margin-right: 1rem;
	width: 3rem;
	background-position: center;
	background-size: cover;
	border-radius: 10px;

	height: 3rem;
}

#contact-list-heading {
	font-size: 3rem;
	padding: 1rem;
	background-color: rgba( 255, 255, 255, 0.88);
	font-weight: 100;
}

#logout {
	background-color: #2d2d2d;
	text-align: center;

	margin-top: 1rem;
	display: block;
	color: black;
	font-weight: 400;

}

#app-nav {
	height: 4vh;
	position: fixed;
	color: white;
	background-color: rgba( 0, 0, 0, 0.58);
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#app-nav h2 {
	font-weight: 100;
}

#myInfo-heading {
	font-size: 2.5rem;
	margin: 0 auto;
	margin-top: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-weight: 100;
	font-family: 'rancho';
	color: black;
	width: 90%;
	margin-bottom: 2rem;
}

#myInfo-heading .fa {

}

#app-nav span {
	margin-right: 1rem;
}

#app-nav span a {
	text-decoration: none;
	font-size: 1.6rem;
	color: white;
}

#user-social-media {
	display: flex;
	flex-direction: row;

	padding-top: 10vh;
	justify-content: center;
}

#user-social-media li {
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 2rem;
	width: 2rem;

}

#user-social-media li:first-of-type {
	margin-left: 0;
}

#user-social-media .fa {
	width: 100%;
	padding: 0.5rem;
	border-radius: 10px;
	color: #efefef;
}

.fa-facebook {
	background-color: #3b5998;
}

.fa-twitter {
	background-color: #55acee;
}

.fa-google-plus {
	background-color: #dd4b39;
}

.fa-instagram {
	background-color: #e95950;
}

.profile-headings {
	font-weight: bold;

}

#user-profile {
	position: absolute;
	z-index: 3;
	width: 30rem;
	height: 30rem;
	top: 0;
	left: 0;
}

#contact-anchor-tag {
	width: 100%;

	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* CHAT CSS */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

p {
	margin: 0;
	display: inline-block;
}

@keyframes chatanimation2 {
	from {
		transform: scaleY(0)
	}
	to {
		transform: scaleY(1)
	}
}

.chatroom {
	transform-origin: bottom;
	animation-name: chatanimation2;
	animation-duration: 0s;
	font-family: 'roboto';
	font-weight: 400;
	width: 30vw;
	height: 96vh;
	background-color: #212121;
/*	background-image: url('https://images.unsplash.com/photo-1464639351491-a172c2aa2911?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=79af96b30ab6950fc40019cc33629095&auto=format&fit=crop&w=1868&q=80');
	background-size: cover;
	background-position: center;
	background-attachment: scroll;*/
	overflow: hidden;
}

#chatroom-container {
	background-color: cornflowerblue;
	background-image: url(https://images.unsplash.com/photo-1507720708252-1ddeb1dbff34?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4cca8644745ee8c28bbe9332f8f74992&auto=format&fit=crop&w=2034&q=80);
	background-size: cover;

}

.chatroom h3 {
	font-weight: 100;

	background-color: #2d2d2d;
	color: #FFF;
	margin: 0;
	height: 95.2px;
	font-size: 1.7rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

.chatroom h3 div,
.chatroom h3 span {
	margin-left: 1rem;
	margin-right: 1rem;
}

.opponent-image {
	background-position: center;
	background-size: cover;
	width: 3rem;
	border-radius: 10px;
	height: 3rem;
}

.chatroom .chats {
	box-sizing: border-box;
	padding: 0 20px;
	margin: 10px 0 0;
	height: 550px;
	overflow-y: scroll;
}

.chatroom .chats .chat {
	background: rgba(255, 255, 255, 0.8);
	position: relative;
	padding: 5px 13px;
	font-size: 18px;
	border-radius: 5px;
	list-style: none;
	float: left;
	clear: both;
	margin: 10px 0;
	max-width: 200px;
}

.chatroom .chats .chat img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	top: -10px;
	left: 0px;
}

.chatroom .chats .chat.right {
	float: right;
	clear: both;
	color: white;
	background-color: rgba(154, 209, 212, 0.5);
}

.chatroom .chats .chat a {
	text-decoration: none;
	color: #3498DB;
}

.chat {
	box-shadow: 0px 0px 3px rgba( 15, 15, 15, 0.758);
	transition: 0.4s;
	animation-name: chatanimation;
	animation-duration: 0.2s;
}

@keyframes chatanimation {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}

.chatroom .input {
	width: 30vw;
	background: #1d1d1d;
	display: flex;
	border-radius: 0px;
	position: absolute;
	bottom: 0;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.chatroom .input input {
	margin: 0 auto;
}

.chatroom .input input[type="text"] {
	background: rgba(255, 255, 255, 0.8);
	outline: 0;
	font-family: 'roboto';
	font-weight: 400;

	border: none;

	padding: 0 5px;
	height: 37px;
	width: 85%;
	box-sizing: border-box;
	font-size: 14px;
}

.chatroom .input input[type="submit"] {
	background: transparent;
	border: 1px solid #1EE494;
	height: 37px;
	width: 15%;
	font-size: 14px;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 0.3s ease;
	color: #FFF;
	background: rgba( 96, 96, 96, 0.4);
}

#message-image{
	cursor: pointer;
}

#message-image .fa {
	color: white;
	padding: 0.3rem;
	font-size: 1.7rem;
}

/* UPDATE PROFILE INFO */

#contact-form {
    background-color: #2d2d2d;
    position: fixed;
    z-index: 9;
	width: 25vw;
    margin-top: 10vh;
    animation-name: showForm;
    animation-duration: 0.5s;
    transform-origin: center;
    padding: 1rem;
    box-shadow: 0px 0px 4px #232323;
}

@keyframes showForm {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

#profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile-form input, #profile-form select, #profile-form h4, #profile-form button, #profile-form textarea {
    margin: 0 auto;
    width: 80%;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

#profile-form h4 {
    color: #dddddd;
    border-bottom: 1px solid rgba( 221, 221, 221, 0.292 );
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    font-family: 'roboto';
    font-weight: 100;
    font-size: 1.6rem;
}

 .fa-edit {
    color: rgba( 24, 21, 21, 0.899 );
	margin-top: 0.6rem;
	 color: #e95950;

}
#profile-form textarea {
     resize: none;
    height: 6rem;
     font-size: 1.3rem;
}

#profile-form input {
	border: none;
	border-radius: 2px;
	height: 2rem;


	text-indent: 0.5rem;
    font-weight: 400;
	margin-top: 0.6rem;
	opacity: 0.9;
	margin-bottom: 0.6rem;
	transition: 0.2s;
}

#profile-form input:focus {
	opacity: 1;
}

#profile-form input::placeholder {
	color: rgba( 30, 30, 30, 1 );


	transition: 0.2s;
}

#profile-form input:focus::placeholder {
	font-size: 1rem;
}

#profile-form #form-button {
    background-color: transparent;
    outline: none;
    width: 4rem;
    color: cornflowerblue;
    font-size: 2rem;
    border: none;
    transition: 0.1s;
}

#profile-form #form-button:hover {
    opacity: 0.9;
}

#profile-form #form-button:active {
    transform: scale(0.9);
}

#myInfo #myInfo-col {
    display: flex;
	justify-content: space-between;
    flex-direction: row;
	padding: 1rem;
}

#myInfo-col #profile-image, #myInfor-col #profile-info {
    min-width: 40%;
}

#myInfo #profile-info {
	text-align: center;
	margin-top: 5vh;
}

#myInfo-col #profile-image {


}

#myInfo #myInfo-col {
background-color: #2d2d2d;
    color: #c1bdbd;
    margin: 0 auto;
	padding: 0.5rem;
    border-radius: 10px;
    }

#test2{
	display: inline-block;
	margin-top: -75px;
	width: 37px;
}
