@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

#groupChatt{
}

#textArea{
  background-color: #2d2d2d;
  padding: 2%;
	height: 300px;
	border: 1px solid black;
	overflow: auto;
}

#submitText {
  background: rgba(255, 255, 255, 0.8);
  outline: 0;
	font-family: 'roboto';
	font-weight: 400;
  border: 1px solid black;
  padding: 0 5px;
  height: 37px;
  width: 60%;
  box-sizing: border-box;
  font-size: 14px;
  margin: 20px 20px 40px 40px
}

#submitButton {
  border: 1px solid #1EE494;
  height: 37px;
  width: 15%;
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #FFF;
  background-color: #222;
  margin-top: -20px;
}
#contact-list-heading {
  font-size: 3rem;
  padding: 1rem;
  background-color: silver;
  font-weight: 100;
  margin-top: 40px;
}
#groupChattMessage{
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  color: white;
  background-color: rgba(154, 209, 212, 0.5);
  font-size: 1.2rem;
  display: inline-block;
}
#test{
  display: inline-block;
  margin-top: -85px;
  width: 60px;
}
#imgIcon{
  width: 50px;
  height: 50px;
  cursor: pointer;
}
  #imgIcon i{
    font-size: 45px;
  }
#submitImg{
  background: rgba(255, 255, 255, 0.8);
  outline: 0;
	font-family: 'roboto';
	font-weight: 400;
  border: 1px solid black;
  height: 20px;
  width: 90%;
  margin: 2px 5% auto 5%;
}
.popupContainer{
  position: relative;
  right: 160px;
  top: 0px;
  width: 150px;
  height: 70px;
}
  .popupContainer .popupContent{
    visibility: hidden;
    z-index: 1;
    height: 60px;
    width: 200px;
    display: block;
    color: #FFF;
    background-color: #222;
    border: 1px solid #1EE494;
    border-radius: 5px;
    padding: 3px;
}
  .popupContainer .show{
    visibility: visible;
    animation: fadeIn 1s;
  }
@keyframes fadeIn {
   from {opacity: 0;}
   to {opacity: 1;}
}
#submitFlex{
  display: flex;
  flex-direction: row;
  align-items: center;
}
li{
  margin-bottom: 15px;
  margin-left: 20px;
  color: silver;
}
  li img{
    max-width: 300px;
    max-height: 250px;
  }
